<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      
      <add name="ConnString" connectionString="Data Source=DANIL\SQLEXPRESS;Initial Catalog=RCH;Integrated Security=True"/> <!-- local connection string, has to be replaced -->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>