USE [master]
GO
/****** Object:  Database [RCH]    Script Date: 03.06.2020 21:23:22 ******/
CREATE DATABASE [RCH] ON  PRIMARY 
( NAME = N'RCH', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\RCH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RCH_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\RCH_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RCH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RCH]
GO
/****** Object:  Table [dbo].[Pa_Users]    Script Date: 03.06.2020 21:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pa_Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Parts_id] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 03.06.2020 21:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Team_ID] [int] NOT NULL,
	[Role_Name] [nvarchar](100) NOT NULL,
	[Is_Admin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pr_Roles]    Script Date: 03.06.2020 21:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pr_Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Proj_ID] [int] NOT NULL,
	[Role_Name] [nvarchar](100) NOT NULL,
	[Is_Admin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pr_Tasks]    Script Date: 03.06.2020 21:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pr_Tasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Proj_ID] [int] NOT NULL,
	[Task_Name] [varchar](255) NOT NULL,
	[Creator_ID] [int] NOT NULL,
	[Performer_ID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Time_Spent] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 03.06.2020 21:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Team_ID] [int] NOT NULL,
	[Project_Name] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrRo_Users]    Script Date: 03.06.2020 21:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrRo_Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PrRoles_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrTa_Jobs]    Script Date: 03.06.2020 21:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrTa_Jobs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Task_ID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[Duration] [int] NOT NULL,
	[Job_Description] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screenshots]    Script Date: 03.06.2020 21:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screenshots](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Job_ID] [int] NOT NULL,
	[Screen] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 03.06.2020 21:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Creator_ID] [int] NOT NULL,
	[Team_Name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03.06.2020 21:23:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Participants] ADD  DEFAULT ((0)) FOR [Is_Admin]
GO
ALTER TABLE [dbo].[Pr_Roles] ADD  DEFAULT ((0)) FOR [Is_Admin]
GO
ALTER TABLE [dbo].[Pr_Tasks] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Pr_Tasks] ADD  DEFAULT ((0)) FOR [Time_Spent]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Pa_Users]  WITH CHECK ADD  CONSTRAINT [FK_PaUsParts] FOREIGN KEY([Parts_id])
REFERENCES [dbo].[Participants] ([ID])
GO
ALTER TABLE [dbo].[Pa_Users] CHECK CONSTRAINT [FK_PaUsParts]
GO
ALTER TABLE [dbo].[Pa_Users]  WITH CHECK ADD  CONSTRAINT [FK_PaUsUsers] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Pa_Users] CHECK CONSTRAINT [FK_PaUsUsers]
GO
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [FK_TeamParts] FOREIGN KEY([Team_ID])
REFERENCES [dbo].[Teams] ([ID])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [FK_TeamParts]
GO
ALTER TABLE [dbo].[Pr_Roles]  WITH CHECK ADD  CONSTRAINT [FK_ProjPrRoles] FOREIGN KEY([Proj_ID])
REFERENCES [dbo].[Projects] ([ID])
GO
ALTER TABLE [dbo].[Pr_Roles] CHECK CONSTRAINT [FK_ProjPrRoles]
GO
ALTER TABLE [dbo].[Pr_Tasks]  WITH CHECK ADD  CONSTRAINT [FK_ProjTask] FOREIGN KEY([Proj_ID])
REFERENCES [dbo].[Projects] ([ID])
GO
ALTER TABLE [dbo].[Pr_Tasks] CHECK CONSTRAINT [FK_ProjTask]
GO
ALTER TABLE [dbo].[Pr_Tasks]  WITH CHECK ADD  CONSTRAINT [FK_UserTaskCreator] FOREIGN KEY([Creator_ID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Pr_Tasks] CHECK CONSTRAINT [FK_UserTaskCreator]
GO
ALTER TABLE [dbo].[Pr_Tasks]  WITH CHECK ADD  CONSTRAINT [FK_UserTaskPerformer] FOREIGN KEY([Performer_ID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Pr_Tasks] CHECK CONSTRAINT [FK_UserTaskPerformer]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_TeamProj] FOREIGN KEY([Team_ID])
REFERENCES [dbo].[Teams] ([ID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_TeamProj]
GO
ALTER TABLE [dbo].[PrRo_Users]  WITH CHECK ADD  CONSTRAINT [FK_PrRolesPrRoUsers] FOREIGN KEY([PrRoles_ID])
REFERENCES [dbo].[Pr_Roles] ([ID])
GO
ALTER TABLE [dbo].[PrRo_Users] CHECK CONSTRAINT [FK_PrRolesPrRoUsers]
GO
ALTER TABLE [dbo].[PrRo_Users]  WITH CHECK ADD  CONSTRAINT [FK_UsersPrRoUsers] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PrRo_Users] CHECK CONSTRAINT [FK_UsersPrRoUsers]
GO
ALTER TABLE [dbo].[PrTa_Jobs]  WITH CHECK ADD  CONSTRAINT [FK_TaskJob] FOREIGN KEY([Task_ID])
REFERENCES [dbo].[Pr_Tasks] ([ID])
GO
ALTER TABLE [dbo].[PrTa_Jobs] CHECK CONSTRAINT [FK_TaskJob]
GO
ALTER TABLE [dbo].[Screenshots]  WITH CHECK ADD  CONSTRAINT [FK_JobScreen] FOREIGN KEY([Job_ID])
REFERENCES [dbo].[PrTa_Jobs] ([ID])
GO
ALTER TABLE [dbo].[Screenshots] CHECK CONSTRAINT [FK_JobScreen]
GO
ALTER TABLE [dbo].[Screenshots]  WITH CHECK ADD  CONSTRAINT [FK_UserScreen] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Screenshots] CHECK CONSTRAINT [FK_UserScreen]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_UserTeam] FOREIGN KEY([Creator_ID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_UserTeam]
GO
USE [master]
GO
